{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Welcome Section -->
<div class="flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div id="mitra" class="section py-4" style="display: none">
        <h3 class="section-title text-center my-5">NolSatu Kampus</h3>
        <p class="text-center">Klik salah satu kampus untuk mendaftar sebagai peserta NolSatu Kampus</p>
        <div class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="slider mitra-slider">
                            {% for campus in campuses %}
                                <a href="{% url 'website:campuses:register' campus.id %}">
                                    <div class="p-4 text-center">
                                        <img class="img-fluid" src="{{ campus.logo.url }}" alt="{{ campus.name }}">
                                        <p class="mt-3">{{ campus.name }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}