{% load static %}
<!-- Our Services Section -->
<div id="tentang-kami" class="bg-image">
    <div class="col-lg-8 col-md-10 ml-auto mr-auto py-5">
        <h3 class="mb-4 text-center section-title m-5">Tentang Kami</h3>
        <p class="text-center">NolSatu hadir sebagai usaha untuk merespon masalah bersama yaitu banyak lulusan TI atau profesional TI yang kemampuannya kurang sementara perusahaan-perusahaan membutuhkan profesional TI terbaik dengan kemampuan terkini. Selain itu, perkembangan TI global berlangsung sangat cepat dan kemampuan profesional TI disarankan selaras dengan perkembangan tersebut. Profesional TI diharapkan dapat membantu perusahaan dalam mengadopsi TI terkini untuk mendorong proses bisnis perusahaan. Imbal balik bagi profesional TI dari proses ini adalah penghasilan yang cukup dan kesejahteraan yang baik yang diberikan oleh perusahaan.</p>

    </div>
</div>
<!-- / Our Services Section -->

<!-- Our Services Section -->
<div class="our-services section py-4">
    <h3 class="section-title text-center my-5">NolSatu</h3>
    <h6 class="text-center text-muted">NolSatu adalah media untuk</h6>
    <!-- Features -->
    <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="feature col-md-4 d-flex">
                    <div class="text-center mx-auto"><p>Talenta TI dilatih agar memiliki kemampuan terkini kemudian disalurkan ke perusahaan yang membutuhkan</p></div>
                </div>
                <div class="feature col-md-4 d-flex">
                    <div class="text-center mx-auto"><p>Profesional TI dilatih agar kemampuannya termutakhirkan kemudian disalurkan ke perusahaan baru yang membutuhkan</p></div>
                </div>
                <div class="feature col-md-4 d-flex">
                    <div class="text-center mx-auto"><p>Perusahaan mendapatkan Profesional TI terbaik yang memiliki kemampuan terkini dan sesuai dengan kebutuhan perusahaan</p></div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Features -->
</div>
<!-- / Our Services Section -->