{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12 card">
        <div class="card-header">
            <h4 class="fa-pull-left">
                Profil
            </h4>
            <div class="fa-pull-right">
                <a class="btn btn-success text-white" href="{% url 'backoffice:graduates:show_certificate' graduate.id %}">Lihat Sertifikat</a>
                <a class="btn btn-secondary text-white" href="{% url 'backoffice:graduates:status_training' graduate.id %}">Status Pelatihan</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <div id="pane-pribadi" class="tab-pane active in">
                                <div class="table-responsive box box-info">
                                    <table class="table table-user-information">
                                        <colgroup>
                                            <col class="col-xs-1">
                                            <col class="col-xs-6">
                                        </colgroup>

                                        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" value="64130" type="hidden">

                                        <tbody>
                                        <tr>
                                            <td class="font-weight-bold">No. Sertifikat</td>
                                            <td>{{ graduate.certificate_number|default:'-' }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Tersalurkan</td>
                                            <td>
                                                {{ graduate.is_channeled|yesno:"<span class='badge badge-success'><i class='fa fa-check'></i></span>, <span class='badge badge-danger'><i class='fa fa-times'></i></span>"|safe }}

                                                {% if graduate.channeled_at and graduate.is_channeled %} di {{ graduate.channeled_at }} {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Nama</td>
                                            <td>{{ user.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Username</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Email</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Telepon</td>
                                            <td>
                                                {{ user.phone }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Status</td>
                                            <td>
                                                {{ student.status|status_display:"True" }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Angkatan</td>
                                            <td>
                                                {{ student.training.batch }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr class="thead-dark">
                                            <th colspan="2">Data Pendukung</th>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">LinkedIn</td>
                                            <td><a href="{{ user.profile.linkedin }}" target="_blank">{{ user.profile.linkedin }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Git Repo</td>
                                            <td><a href="{{ user.profile.git_repo }}" target="_blank">{{ user.profile.git_repo }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Blog / Web</td>
                                            <td><a href="{{ user.profile.blog }}" target="_blank">{{ user.profile.blog }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Youtube</td>
                                            <td><a href="{{ user.profile.youtube }}" target="_blank">{{ user.profile.youtube }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Facebook</td>
                                            <td><a href="{{ user.profile.facebook }}" target="_blank">{{ user.profile.facebook }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Instagram</td>
                                            <td><a href="https://instagram.com/{{ user.profile.instagram }}" target="_blank">{{ user.profile.instagram }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Twitter</td>
                                            <td><a href="https://twitter.com/{{ user.profile.twitter }}" target="_blank">{{ user.profile.twitter }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Telegram ID</td>
                                            <td><a href="https://web.telegram.org/#/im?p={{ user.profile.telegram_id }}" target="_blank">{{ user.profile.telegram_id }}</a></td>
                                        </tr>
                                    </tbody></table>

                                    {% if survey %}
                                    <div class="table-responsive box box-info">
                                        <table class="table table-bordered">

                                            <tr class="thead-dark">
                                                <th colspan="2">Data Pekerjaan</th>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Status pekerjaan saat ini</td>
                                                <td>
                                                    {% if survey.working_status == 99 %}
                                                        {{ survey.working_status_other}}
                                                    {% else %}
                                                        {{ survey.get_working_status_display }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila anda telah lulus dari kelas nolsatu, apakah bersedia untuk disalurkan</td>
                                                <td>
                                                    {% if survey.graduate_channeled %}
                                                        Ya
                                                    {% else %}
                                                        Tidak
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila bersedia untuk disalurkan, kapan waktu yang diinginkan</td>
                                                <td>
                                                    {% if survey.graduate_channeled_when == 99 %}
                                                        {{ survey.graduate_channeled_when_other}}
                                                    {% else %}
                                                        {{ survey.get_graduate_channeled_when_display }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila Anda bersedia disalurkan, dimana Anda bersedia ditempatkan</td>
                                                <td>
                                                    {{ survey.get_channeled_location }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

</div>
{% endblock %}