{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">{{ title }}</h4>
        </div>
        <div class="card-body">
            {% include 'forms/filter.html' %}
        </div>
        <div class="card-body">
            {% if graduates %}
            <p>
                Total data <span class="badge badge-primary">{{ graduates_count }}</span>
                Total penyaringan <span class="badge badge-info">{{ filter_count }}</span>
            </p>
            <div class="datatable content table-responsive table-full-width">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <th>No.</th>
                        <th>Name</th>
                        <th>No. Sertifikat</th>
                        <th>Email</th>
                        <th>Tersalurkan</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody>
                        {% for graduate in data_graduates %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ graduate.user.name }}</td>
                                <td>{{ graduate.certificate_number|default:'-' }}</td>
                                <td>{{ graduate.user.email }}</td>
                                <td>
                                    <div class="custom-control custom-switch" id="btn-status-{{registrants.id}}">
                                        <input type="checkbox" class="custom-control-input toggleChanneled" data-id="{{ graduate.id }}" id="customSwitch{{graduate.id}}" required {{ graduate.is_channeled|yesno:'checked, '}}>
                                        <label class="custom-control-label" for="customSwitch{{graduate.id}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="{% url 'backoffice:graduates:details' graduate.id %}"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-primary" href="{% url 'backoffice:graduates:add_rating' graduate.id %}"><i class="fa fa-star"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if data_graduates.has_other_pages  %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if data_graduates.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1&{{ query_params }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for i in page_range %}
                            {% if data_graduates.number == i %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}&{{ query_params }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if data_graduates.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ data_graduates.paginator.num_pages }}&{{ query_params }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            {% else %}
            <h3>Tidak ada data</h3>
            {% endif %}
        </div>
        <div class="card-footer"></div>
    </div>
</div>


{% url 'backoffice:graduates:change_is_channeled' as form_action %}
{% include 'backoffice/common/simple-form-modal.html' with id="channeledFormModal" title="Lulusan Tersalurkan" form=channeled_form action=form_action %}


{% endblock %}

{% block extra_js %}
<script>
    /*
        switch toggle to change change status channeled

        - if switch on, then show modal form and enter campany name then POST data to save
          is_channeled to True and channeled_at
        - if switch off, hit api for change is_channeled to False and channeled_at to empty string
    */
    $('.toggleChanneled').change(function() {
        $toggleSelected = $(this)
        Id = $toggleSelected.data("id");
        $('#id_graduate_id').val(Id);
        if(this.checked) {
            $('#channeledFormModal').modal('show')
            $('#channeledFormModal').on('hidden.bs.modal', function () {
                $toggleSelected.prop("checked", false);
            });
            return;
        }
        else {
            $.ajax({
                url: "{% url 'backoffice:graduates:change_is_channeled' %}",
                data: {'id': Id},
                dataType: 'json',
                error:function (xhr, ajaxOptions, thrownError){
                    alert(thrownError);
                }
            });
        }
    });

</script>
{% endblock %}