{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12 card">
        <div class="card-header">
            <h4 class="fa-pull-left">
                Sertifikat
            </h4>
            <span class="fa-pull-right">
                <a href="?regenerate=yes" class="btn btn-primary">Regenerate</a>
            </span>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <embed src="{{ graduate.certificate_file.url }}" type="application/pdf" width="100%" height="600px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

</div>
{% endblock %}