Django==2.2.6
psycopg2==2.7.3.2

id-phonenumbers==0.3.0
phonenumbers==8.8.10
django-model-utils==3.0.0
Pillow==6.2.0
pdfkit==0.6.1

django-post-office==3.0.4
django-extensions==2.0.7
django-qr-code==1.0.0

sentry-sdk==0.6.2
python-magic==0.4.15

django-rest-framework==0.1.0
djangorestframework-simplejwt==4.3.0

feedparser==5.2.1
