{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-4 sidebar-{{ sidebar_color }}-{{ color_theme }}">
    <!-- Brand Logo -->
    <!-- Brand Logo -->
    <a href="{% url 'website:index' %}" class="brand-link">
        {% if not hide_logo %}
            <img src="{{ brand_logo }}" alt="{{ site_name }} Logo" class="brand-image"
                style="opacity: .8">
        {% endif %}

        <span class="brand-text font-weight-bold color-white" style="font-size:88%;">
            {% if not hide_site_name %}
                {{ site_name }}
            {% else %}
                &nbsp;
            {% endif %}
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{{ user.profile.get_avatar }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="{% url 'backoffice:index' %}" class="nav-link {% if menu_active == 'dashboard' %}active{% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li class="nav-item {% if menu_active == 'user' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'user' %}active{% endif %}">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Pengguna<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:users:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Pengguna</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:users:participants' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Peserta</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:training_materials:bulk_material_status' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Status Pelatihan Peserta</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:users:last_login' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Masuk Terakhir</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="{{ nolsatu_course_home_page }}" class="nav-link {% if menu_active == 'materi' %}active{% endif %}">
                    <i class="nav-icon fas fa-th-list"></i>
                    <p>Daftar Materi</p>
                </a>
            </li>

            {% comment %} <li class="nav-item {% if menu_active == 'materials' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'materials' %}active{% endif %}">
                    <i class="nav-icon fas fa-th-list"></i>
                    <p>Materi Pelatihan<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:training_materials:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Ops</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ nolsatu_course_home_page }}/backoffice/courses/" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dev</p>
                        </a>
                    </li>
                </ul>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item {% if menu_active == 'graduates' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'graduates' %}active{% endif %}">
                    <i class="nav-icon fas fa-user-graduate"></i>
                    <p>Lulusan<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:graduates:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Data Lulusan</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:graduates:candidates' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Kandidat</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:graduates:participants_repeat' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Peserta Mengulang</p>
                        </a>
                    </li>
                </ul>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item {% if menu_active == 'campus' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'campus' %}active{% endif %}">
                    <i class="nav-icon fas fa-university"></i>
                    <p>Kampus<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:campuses:index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tambahh Kampus</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:campuses:users_selection' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Daftar Pengguna</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:campuses:participants' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Daftar Peserta</p>
                        </a>
                    </li>
                </ul>
            </li> {% endcomment %}

            {% comment %} <li class="nav-item">
                <a href="{% url 'backoffice:surveys:index' %}" class="nav-link {% if menu_active == 'surveys' %}active{% endif %}">
                    <i class="nav-icon fas fa-poll-h"></i>
                    <p>Survey</p>
                </a>
            </li> {% endcomment %}

            <li class="nav-item">
                <a href="{% url 'backoffice:broadcasts:index' %}" class="nav-link {% if menu_active == 'broadcast' %}active{% endif %}">
                    <i class="nav-icon fas fa-bullhorn"></i>
                    <p>Pesan Siaran</p>
                </a>
            </li>

            <li class="nav-item {% if menu_active == 'setting' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'setting' %}active{% endif %}">
                    <i class="nav-icon fas fas fa-cog"></i>
                    <p>Pengaturan<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:setting_appearance' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tampilan</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:setting_authorization' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Otorisasi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:settings:email_index' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Email</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:import_users' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Impor Pengguna</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-header">Data Master</li>
            <li class="nav-item {% if menu_active == 'campus' %}has-treeview menu-open{% endif %}">
                <a href="#" class="nav-link {% if menu_active == 'campus' %}active{% endif %}">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Data<i class="right fas fa-angle-left"></i></p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'backoffice:users:batch_training' %}" class="nav-link {% if menu_active == 'batch' %}active{% endif %}">
                            <i class="nav-icon fas fa-certificate"></i>
                            <p>Angkatan</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'backoffice:partners:index' %}" class="nav-link {% if menu_active == 'partner' %}active{% endif %}">
                            <i class="nav-icon fas fa-handshake"></i>
                            <p>Mitra</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'backoffice:sponsors:index' %}" class="nav-link {% if menu_active == 'sponsors' %}active{% endif %}">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>Sponsor</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'backoffice:instructors:index' %}" class="nav-link {% if menu_active == 'instrukturs' %}active{% endif %}">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>Instruktur</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-header">Admin Panel</li>
            <li class="nav-item">
                <a href="{{ nolsatu_course_home_page }}/backoffice" class="nav-link {% if menu_active == '' %}active{% endif %}">
                    <i class="nav-icon fas fa-user-cog"></i>
                    <p>Backoffice Course</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="{% url 'website:accounts:logout' %}" class="nav-link {% if menu_active == '' %}active{% endif %}">
                    <i class="nav-icon fas fa-sign-out-alt"></i>
                    <p>Keluar</p>
                </a>
            </li>
        </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
