{% extends 'base-adinusa.html' %}
{% load static form_tags %}

{% block content %}
<div class="banner-simple">
    <div class="container-fluid container-login">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-wrapper mt-auto mb-auto">
                    <div class="offset-md-4 col-md-4">
                        {% include 'forms/login-signup.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}