{% extends 'base-master.html' %}
{% load static form_tags %}

{% block content %}
<div class="welcome d-flex justify-content-center flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>
    <div class="inner-wrapper mt-auto mb-auto">

    </div>
    <div class="container ml-auto mr-auto">

        <div class="shard form-login col-md-12">
            <h3>Log in</h3>
            <form action="" method="post">
                {% csrf_token %}

                <div class="row">
                <div class="card full-width">
                    <div class="card-body">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="form-group col-md-12">
                                <label class="pull-left">{{ field.label }}</label>

                                {{ field|addclass:"form-control" }}
                                <span class="help_text">
                                    {{ field.help_text|safe }}
                                </span>
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <div class="form-group col-md-12">
                            {% if page == "login" %}
                                <p class="help-block pull-right mt-2">
                                    <a href="#">Forgot Password?</a>
                                </p>
                                <input type="submit" class="btn btn-primary btn-pill pull-left" value="Login">
                                <div class="clearfix">&nbsp;</div>
                                <p class="help-block pull-left">
                                    Don't have an account? <a href="{% url 'website:accounts:login' %}">Sign up</a>
                                </p>
                            {% elif page == "sign-up" %}
                                <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                                <div class="clearfix">&nbsp;</div>
                                <p class="help-block">
                                    Have an account? <a href="{% url 'website:accounts:login' %}">Log in</a>
                                </p>
                            {% else %}
                                <input type="submit" class="btn btn-primary btn-pill" value="Submit" />
                            {% endif %}
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- <div class="page-content"></div> -->
{% endblock %}