.zindex {
    z-index: 100 !important;
}

.full-width {
    width: 100%;
}

.form-login {
    top: 130px !important;
    width: 400px;
}

.help-block {
    font-size: 14px;
    color: #adadad;
}

.error-field {
    font-size: 14px;
    color: #C4183C;
}

.errorlist li {
    list-style: none;
    font-size: 14px;
    color: #C4183C;
}

.help_text {
  list-style: none;
  font-size: 14px;
  color: #ccc;
}

.help_text li{
    list-style: none;
}

.help_text ul{
    padding: 5px 0px;
}

.errorlist {
    padding-left: 0px;
}
