body {
    overflow-x: hidden;
}

.zindex {
    z-index: 100 !important;
}

.full-width {
    width: 100%;
}

.help-block {
    font-size: 14px;
    color: #adadad;
}

.error-field {
    font-size: 14px;
    color: #C4183C;
}

.errorlist li {
    list-style: none;
    font-size: 14px;
    color: #C4183C;
}

.help_text {
  list-style: none;
  font-size: 14px;
  color: #ccc;
}

.help_text li{
    list-style: none;
}

.help_text ul{
    padding: 5px 0px;
}

.errorlist {
    padding-left: 0px;
}

.inner-wrapper {
    top: -30px;
}

/* sidebar */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
}
.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: #EA413A;
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, 0.15);
}
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }

    .navbar-custom{
        background: #e9ecef;
    }
}

.shards-app-promo-page--1 .bg-image {
    position: relative;
    background: url("../images/app-promo/welcome-cover.jpg") no-repeat center center fixed;
    background-size: cover;
  }

.shards-app-promo-page--1  .bg-image:before {
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .90;
    background: #ffffff;
  }

  .shards-app-promo-page--1 .welcome {
    position: relative;
    height: 100vh;
    min-height: 700px;
    background: url(../images/agency-landing/welcome-cover.jpg) no-repeat center center fixed;
        background-size: auto auto;
    background-size: cover;
}

  .shards-app-promo-page--1 .welcome:before {
    background: #EA413A;
  }

  .shards-app-promo-page--1 .section-title:after {
    content: '';
    width: 30px;
    height: 2px;
    background: #EA413A;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    bottom: -20px;
  }

  select.form-control:not([size]):not([multiple]) {
      height: auto;
  }

  .statistik {
    background-color: #fff;
    color: #EA413A;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.show-navbar-hidden {
    display: none;
}

.show-navbar-default {
    display: default;
}