from django.conf import settings
import sentry_sdk

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

EMAIL_BACKEND = 'post_office.EmailBackend'
DEFAULT_FROM_EMAIL = 'no-reply@yourdomain.id'
EMAIL_HOST = 'mail.yourdomain.id'
EMAIL_HOST_USER = 'no-reply@yourdomain.id'
EMAIL_HOST_PASSWORD = 'yourpassword'
EMAIL_USE_TLS = True
EMAIL_PORT = 587
DEFAULT_RECIPIANT_EMAIL = 'no-reply@yourdomain.id'

HOST = 'http://localhost:8000'
NOLSATU_COURSE_HOST = 'https://course.nolsatu.id'

INDICATOR_GRADUATED = 1

sentry_sdk.init(
    dsn="",
    integrations=[]
)

SESSION_COOKIE_DOMAIN = 'localhost'

API_GATEWAY = [
    ('course', 'http://localhost:7000/api/')
]