{% extends 'base-adminlte.html' %}
{% load form_tags tags_students %}

{% block content %}
<div class="col-md-12 card">
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        {% if student.status|status_display == 'seleksi' %}
                            <p>Anda dapat mengikuti pelatihan setelah status berubah menjadi 'Peserta'</p>
                        {% endif %}
                    </div>
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <div id="pane-pribadi" class="tab-pane active in">
                                <div class="table-responsive box box-info">
                                    <table class="table table-user-information">
                                        <thead>
                                            <th>No</th>
                                            <th>Kode</th>
                                            <th>Judul</th>
                                            <th>Status</th>
                                        </thead>
                                        <tbody>
                                            {% for materi in training_materials %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ materi.code }}</td>
                                                <td>{{ materi.title }}</td>
                                                <td>{{ materi|get_status:user|training_status_display:'True' }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

</div>
{% endblock %}