{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<div class="flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>
    <!-- Page Content -->
    <div class="container shards-app-promo-page--1  mt-5">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                {% if blog.image %}
                <div style="width: 100%;height: 200px;overflow: hidden;">
                    <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.iamge.name}}">
                </div>
                {% endif %}
            </div>
            <div class="col-lg-12">
                <!-- Title -->
                <h1 class="mt-4">{{ blog.title }}</h1>
                <div class="text-right">
                        <span>Penulis: </span>
                        <a href="#">
                            <i class="fas fa-user"></i> {{ blog.author.username }}
                        </a>
                        <span class="pl-4">Bagikan: </span>
                        <a href="#" style="font-size:1.3em;"><i class="fab fa-twitter-square"></i></i></a>
                        <a href="#" style="font-size:1.3em;"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" style="font-size:1.3em;"><i class="fab fa-linkedin"></i></a>
                        <a href="#" style="font-size:1.3em;"><i class="fab fa-telegram"></i></a>
                        <a href="#" style="font-size:1.3em;"><i class="fab fa-whatsapp-square"></i></a>
                </div>
                <hr>

                <!-- Post Content -->
                {{ blog.content|safe }}
                <hr>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
{% endblock %}