{% extends 'base-master.html' %}
{% load static form_tags %}
{% load static %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Welcome Section -->
<div class="flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div class="container shards-app-promo-page--1  mt-auto">
        <h4 class="section-title text-center my-5">Verifikasi Sertifikat Pelatihan NolSatu</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        Peserta yang memiliki sertifikat adalah peserta yang telah lulus dari pelatihan NolSatu dengan mengikuti dan menyelesaikan seluruh materi dan lab.
                        <br><br>
                        Halaman verifikasi sertifikat digunakan untuk memvalidasi Sertifikat Pelatihan NolSatu.
                        <br><br>
                        Masukkan nama belakang Anda dan nomor sertifikat pada kotak dibawah ini.
                        <br><br>
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="pull-left">{{ form.certificate_number.label }}</label>

                                {{ form.certificate_number|addclass:"form-control" }}
                                <span class="help_text">
                                    {{ form.certificate_number.help_text|safe }}
                                </span>
                                {{ form.certificate_number.errors }}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pull-left">{{ form.last_name.label }}</label>

                                {{ form.last_name|addclass:"form-control" }}
                                <span class="help_text">
                                    {{ form.last_name.help_text|safe }}
                                </span>
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="submit" class="btn btn-info" value="Verifikasi" />
                            </div>
                        </div>
                    </form>
                    {% if result %}
                        <div class="col-md-12 card text-white bg-success mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td class="pull-right" style="width:150px; text-align:right;">
                                                Pemilik :
                                            </td>
                                            <td>
                                                <strong style="font-weight: bold;">
                                                    &nbsp;&nbsp;&nbsp;{{ result.user.first_name }} {{ result.user.last_name }}
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pull-right">
                                                Nomor Sertifikat :
                                            </td>
                                            <td>
                                                <strong style="font-weight: bold;">
                                                    &nbsp;&nbsp;&nbsp;{{ result.certificate_number }}
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pull-right">
                                                Tanggal Sertifikat :
                                            </td>
                                            <td>
                                                <strong style="font-weight: bold;">
                                                    &nbsp;&nbsp;&nbsp;{{ result.created|date:'d M Y' }}
                                                </strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pull-right">
                                                Berlaku Hingga :
                                            </td>
                                            <td>
                                                <strong style="font-weight: bold;">
                                                    &nbsp;&nbsp;&nbsp;{{ valid_date|date:'d M Y' }}
                                                </strong>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    {% elif result == "" %}
                    <div class="col-md-12 card text-white bg-danger mb-3">
                            <div class="card-body">
                                <div class="row">
                                    Maaf, kami tidak dapat menemukan sertifikat dengan nomor sertifikat dan nama belakang tersebut.
                                </div>
                            </div>
                        </div>  
                    {% endif %}
                </div>
            </div>
    </div>
</div>
{% endblock %}