{% extends 'base-master.html' %}
{% load static form_tags %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Welcome Section -->
<div class="flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div class="container shards-app-promo-page--1  mt-auto">
        <h4 class="section-title text-center my-5">Verifikasi Sertifikat Pelatihan NolSatu</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        Peserta yang memiliki sertifikat adalah peserta yang telah lulus dari pelatihan NolSatu dengan mengikuti dan menyelesaikan seluruh materi dan lab.
                        <br><br>
                        Halaman verifikasi sertifikat digunakan untuk memvalidasi Sertifikat Pelatihan NolSatu.
                        <br>
                        Masukkan nama belakang Anda dan nomor sertifikat pada kotak dibawah ini atau pindai QRCode yang terdapat pada sertifikat.
                        <br><br>
                    </p>
                    <hr>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group col-md-12">
                                    <label class="pull-left">{{ form.certificate_number.label }}</label>
                                    {{ form.certificate_number|addclass:"form-control" }}
                                    <span class="help_text">
                                        {{ form.certificate_number.help_text|safe }}
                                    </span>
                                    {{ form.certificate_number.errors }}
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="pull-left">{{ form.last_name.label }}</label>
                                    {{ form.last_name|addclass:"form-control" }}
                                    <span class="help_text">
                                        {{ form.last_name.help_text|safe }}
                                    </span>
                                    {{ form.last_name.errors }}
                                </div>
                                <div class="form-group col-md-12">
                                    <input type="submit" id="submit" class="btn btn-info mt-4" value="Verifikasi" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <video id="preview" style="width:100%;"></video>
                            </div>
                        </div>
                    </form>

                    <div id="result-verify">
                        {% include 'website/result-verify.html' %}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'website/js/instascan.min.js' %}"></script>
<script type="text/javascript">
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
        var data = content.split(":");
        if (data.length != 2) {
            alert("QRcode tidak valid")
            return
        }
        $.post("{% url 'website:cert-verify' %}", {
            certificate_number: data[0],
            last_name: data[1],
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }, function(data) {
            $("#result-verify").html(data.html);
        });
    });
    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        } else {
            alert("Kamera tidak ditemukan")
        }
    }).catch(function (e) {
        console.error(e);
    });
</script>
{% endblock %}