{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<div class="shards-app-promo-page--1">
    <div id="perusahaan" class="our-services section py-4">
        <h3 class="section-title text-center my-5">Perusahaan</h3>
        <h6 class="text-center text-muted">Keuntungan perusahaan menggunakan media NolSatu</h6>
        <!-- Features -->
        <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-user"></i></div>
                <div class="px-4">
                    <h5>Profesional TI Terbaik</h5>
                    <p>Mendapat profesional TI terbaik yang sesuai dengan kebutuhan perusahaan. NolSatu menjamin hanya menyalurkan profesional TI terbaik</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-check"></i></div>
                <div class="px-4">
                    <h5>Kualitas Terjaga</h5>
                    <p>Profesional TI yang sudah direkrut perusahaan akan tetap mendapat GRATIS pelatihan kemampuan TI baru yang berkaitan dengan pekerjaannya dalam kurun waktu 1 tahun setelah perekrutan</p>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-laptop"></i></div>
                <div class="px-4">
                    <h5>Negosiasi</h5>
                    <p>Dibantu proses negosiasi penghasilan dan fasilitas bekerja untuk profesional TI</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="far fa-money-bill-alt"></i></div>
                <div class="px-4">
                    <h5>Biaya Minim</h5>
                    <p>Biaya administrasi hanya 10% dari nilai penghasilan 1 tahun profesional TI yang direkrut</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- / Features -->
    </div>
</div>
{% endblock %}