{% extends 'base-adinusa.html' %}
{% load static %}

{% block content %}
<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
    <div class="container">   
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>Kontak</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="d-none d-sm-block mb-5 pb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.669666933191!2d106.7722890651758!3d-6.563314445253097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c45d6024d5b9%3A0x95bec6d9d6b7c525!2sPT%20Boer%20Technology%20(Btech)!5e0!3m2!1sen!2sid!4v1601019597542!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                    <h3>Jawa Barat. Indonesia.</h3>
                    <p>Ruko Taman Yasmin, Ring Road Sektor 6 No.88 Jalan K. Haji R. Abdulah BIN Mohammad Nuh, RT.04/RW.09,
                        Curugmekar, Kec. Bogor Bar.
                        Kota Bogor,
                        Jawa Barat 16113</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                    <h3><a href="https://api.whatsapp.com/send?phone=628111123242&text=Hello,%20Saya%20tertarik%20dengan%20Adinusa" target="_blank" class="basic-link"> +62-811-1123-242 (WhatsApp)</a></h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                    <h3><a href="mailto:contact@adinusa.id?Subject=Hello,%20Saya%20tertarik%20dengan%20Adinusa" target="_blank" class="basic-link">contact@adinusa.id</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock %}
