{% extends 'base-adinusa.html' %}
{% load static %}

{% block content %}
<section id="vendor" class="padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>FAQ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="accordion" style="width: 100%;">
                {% for faq in faqs %}
                <div class="card" style="margin: 5px;">
                    <div class="card-header" id="heading{{ forloop.counter }}" style="padding-left:30px; padding-top: 0px;">
                        <a href="#" class="text-primary" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                            <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                            <h5>{{ faq.question }}</h5>
                        </a>
                    </div>
                
                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
                    <div class="card-body pl-5">
                        <span style="font-size: medium;">{{ faq.answer }}</span>
                    </div>
                    </div>
                </div>  
                {% endfor %}     
            </div>
        </div>
    </div>        
</section>
{% endblock %}
