{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Welcome Section -->
<div class="flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div class="container shards-app-promo-page--1  mt-auto">
        <h4 class="section-title text-center my-5">TILIL (Tanya Itu Lagi Itu Lagi)</h3>
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h6 class="mb-0">
                    <a href="#" class="text-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                        Bidang profesi TI apa yang saat ini tersedia untuk dilatih dan disalurkan?
                    </a>
                </h6>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body pl-5">
                    IT Operations, DevOps Engineer, Cloud Administrator, Cloud Engineer, SDN Engineer.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h6 class="mb-0">
                    <a href="#" class="text-primary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                        Apa syarat terpilih menjadi peserta di NolSatu?
                    </a>
                </h6>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body pl-5">
                    Memiliki kemampuan TI dasar yang cukup baik.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h6 class="mb-0">
                    <a href="#" class="text-primary collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                        Bagaimana proses seleksi peserta dilakukan?
                    </a>
                </h6>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body pl-5">
                    Dari melihat profil dan karya peserta di blog, repositori kode dan media sosial.
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                <h6 class="mb-0">
                    <a href="#" class="text-primary collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;
                        Berapa lama pelatihan peserta berlangsung?
                    </a>
                </h6>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body pl-5">
                    Pelatihan dilaksanakan secara daring dan akan berlangsung sebanyak 16 kali dengan durasi 3 jam per pelatihan selama kurang lebih 2 bulan.
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}