{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Floating Shards -->
<img src="{% static 'website/images/demo/shard-1-5x-3.png' %}" alt="Shard" class="shard">

<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div class="inner-wrapper mt-auto mb-auto">
        <h1 >Alinguwa</h1>
        <p>&nbsp;</p>
        <div class="action-links">
          <a href="{% url 'website:accounts:sign_up' %}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-download mr-1"></i> Register</a>
          <!-- <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Login</a> -->
          <a href="{% url 'website:accounts:login' %}" class="btn btn-outline-light btn-pill align-self-center">Login</a>
        </div>
    </div>
    <div class="product-by">
        <a href="https://btech.id" target="_blank">
            <p>A Product By</p>
            <img src="{% static 'website/images/btech-logo-bw-35px.png' %}" alt="Btech">
        </a>
    </div>
</div>

<!-- Page Content -->
<div class="page-content">
    <!-- Content -->
    <div class="content clearfix">

        <div id="introduction" class="container mb-5">
            <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
                <p class="lead">Alinguwa is a modern design system based on Bootstrap 4 that comes packed with <b>10 extra
                    custom components</b> and <b>two pre-built landing pages</b>. It’s also lightweight with its
                    stylesheet weighting only <b>~12kb minified and gzipped</b>.</p>
            </div>
        </div>

        <!-- Our Services Section -->
        <div>
            <!-- Features -->
            <div class="features py-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="feature py-4 col-md-6 d-flex">
                            <div class="icon text-primary mr-3"><i class="fa fa-paint-brush"></i></div>
                            <div class="px-4">
                                <h5>Design & Branding</h5>
                                <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                            </div>
                        </div>
                        <div class="feature py-4 col-md-6 d-flex">
                            <div class="icon text-primary mr-3"><i class="fa fa-code"></i></div>
                            <div class="px-4">
                                <h5>Programming</h5>
                                <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="feature py-4 col-md-6 d-flex">
                            <div class="icon text-primary mr-3"><i class="fa fa-font"></i></div>
                            <div class="px-4">
                                <h5>Copywriting</h5>
                                <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                            </div>
                        </div>
                        <div class="feature py-4 col-md-6 d-flex">
                            <div class="icon text-primary mr-3"><i class="fa fa-support"></i></div>
                            <div class="px-4">
                                <h5>Training & Support</h5>
                                <p>Quisque mollis mi ac aliquet accumsan. Sed sed dapibus libero. Nullam luctus purus duis sensibus signiferumque.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Features -->
          </div>
          <!-- / Our Services Section -->
    </div>

    <!-- Footer CTA -->
    <div class="footer-cta bg-dark">
        <div class="container">
            <div class="py-5">

                <div class="share d-table ml-auto mr-auto mt-5">
                    <a href="https://twitter.com/intent/tweet?url=https://designrevision.com/download/shards&text=I%27m+in+love+with+Shards%2C+a+free+Bootstrap+4+UI+kit+by+%40DesignRevision+%23ui+%23design+%23free+%23bootstrap"
                       class="btn btn-pill btn-primary mr-4" title="Share Shards on Twitter">
                        <i class="fa fa-twitter mr-1"></i> Share on Twitter</a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://designrevision.com/download/shards"
                       class="btn btn-pill btn-primary mr-4"
                       title="Share on Facebook">
                        <i class="fa fa-facebook mr-1"></i> Share on Facebook</a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&title=Shards+%E2%80%94+A+free+and+modern+Bootstrap+4+UI+kit&url=https://designrevision.com/download/shards"
                       class="btn btn-pill btn-primary mr-4" title="Share on LinkedIn">
                        <i class="fa fa-linkedin mr-1"></i> Share on LinkedIn</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}