{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<!-- <div class="loader"><div class="page-loader"></div></div> -->

<!-- Floating Shards -->

<!-- Welcome Section -->
<div class="welcome d-flex flex-column">
    <div class="container zindex">
        {% include 'nav-bar.html' %}
    </div>

    <div class="inner-wrapper mt-auto mb-auto">
        <img src="{% static 'website/images/logo/logo-square-black.png' %}" alt="Shard" class="shard">
        <h1>&nbsp;</h1>
        <h3>&nbsp;</h3>
        <br><br>
        <div class="action-links">
          <a href="{% url 'website:accounts:sign_up' %}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-download mr-1"></i>Daftar</a>
          <!-- <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Login</a> -->
          <a href="{% url 'website:accounts:login' %}" class="btn btn-outline-light btn-pill align-self-center">Masuk</a>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="shards-app-promo-page--1 page-content">
    <!-- Content -->
    <!-- Our Services Section -->
    <div id="tentang-kami" class="bg-image">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto py-5">
            <h3 class="mb-4 text-center section-title m-5">Tentang Kami</h3>
            <p class="text-center">NolSatu hadir sebagai usaha untuk merespon masalah bersama yaitu banyak lulusan TI atau profesional TI yang kemampuannya kurang sementara perusahaan-perusahaan membutuhkan profesional TI terbaik dengan kemampuan terkini. Selain itu, perkembangan TI global berlangsung sangat cepat dan kemampuan profesional TI disarankan selaras dengan perkembangan tersebut. Profesional TI diharapkan dapat membantu perusahaan dalam mengadopsi TI terkini untuk mendorong proses bisnis perusahaan. Imbal balik bagi profesional TI dari proses ini adalah penghasilan yang cukup dan kesejahteraan yang baik yang diberikan oleh perusahaan.</p>

        </div>
    </div>
    <!-- / Our Services Section -->

    <!-- Our Services Section -->
    <div class="our-services section py-4">
        <h3 class="section-title text-center my-5">NolSatu</h3>
        <h6 class="text-center text-muted">NolSatu adalah media untuk</h6>
        <!-- Features -->
        <div class="features py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="feature col-md-4 d-flex">
                        <div class="text-center mx-auto"><p>Talenta TI dilatih agar memiliki kemampuan terkini kemudian disalurkan ke perusahaan yang membutuhkan</p></div>
                    </div>
                    <div class="feature col-md-4 d-flex">
                        <div class="text-center mx-auto"><p>Profesional TI dilatih agar kemampuannya termutakhirkan kemudian disalurkan ke perusahaan baru yang membutuhkan</p></div>
                    </div>
                    <div class="feature col-md-4 d-flex">
                        <div class="text-center mx-auto"><p>Perusahaan mendapatkan Profesional TI terbaik yang memiliki kemampuan terkini dan sesuai dengan kebutuhan perusahaan</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Features -->
    </div>
    <!-- / Our Services Section -->

    <!-- Our Services Section -->
    <div id="talenta" class="our-services bg-primary text-light section py-4">
        <h3 class="section-title text-center text-white my-5">Talenta & Profesional</h3>
        <h6 class="text-center text-light">Keuntungan bergabung di NolSatu</h6>
        <!-- Features -->
        <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary bg-white mr-3"><i class="fa fa-users"></i></div>
                <div class="px-4">
                    <strong><h5 class="text-white">Dilatih</h5></strong>
                    <p>Dilatih kemampuan TI terikini oleh instruktur bersertifikat dan berpengalaman dengan fasilitas praktikum sesuai standar industri. Pelatihan dilaksanakan secara daring (online)</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary bg-white mr-3"><i class="fa fa-globe"></i></div>
                <div class="px-4">
                    <strong><h5 class="text-white">Disalurkan</h5></strong>
                    <p>Dicocokkan dengan kriteria yang dibutuhkan perusahaan dan disalurkan bekerja di perusahaan</p>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary bg-white mr-3"><i class="fa fa-briefcase"></i></div>
                <div class="px-4">
                    <strong><h5 class="text-white">Negosiasi</h5></strong>
                    <p>Dibantu proses negosiasi penghasilan dan fasilitas bekerja dengan perusahaan yang merekrut</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary bg-white mr-3"><i class="fa fa-user-times"></i></div>
                <div class="px-4">
                    <strong><h5 class="text-white">Proses Sederhana</h5></strong>
                    <p>Pendaftaran dan seleksi kandidat sederhana</p>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="ml-auto mr-auto text-center">
                    <h6 class="text-light"><strong>Semua Proses</strong></h3>
                    <h3 class="text-white"><strong>GRATIS</strong></h3>
                </div>
            </div>
            <a class="d-table ml-auto mr-auto" href="{% url 'website:accounts:sign_up' %}">
            <button class="btn btn-pill btn-outline-white">
                <i class="fa fa-book mr-1"></i> DAFTAR SEKARANG
            </button>
            </a>

        </div>
        </div>
        <!-- / Features -->
    </div>
    <!-- / Our Services Section -->

    <!-- Our Services Section -->
    <div id="perusahaan" class="our-services section py-4">
        <h3 class="section-title text-center my-5">Perusahaan</h3>
        <h6 class="text-center text-muted">Keuntungan perusahaan menggunakan media NolSatu</h6>
        <!-- Features -->
        <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-user"></i></div>
                <div class="px-4">
                    <h5>Profesional TI Terbaik</h5>
                    <p>Mendapat profesional TI terbaik yang sesuai dengan kebutuhan perusahaan. NolSatu menjamin hanya menyalurkan profesional TI terbaik</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-check"></i></div>
                <div class="px-4">
                    <h5>Kualitas Terjaga</h5>
                    <p>Profesional TI yang sudah direkrut perusahaan akan tetap mendapat GRATIS pelatihan kemampuan TI baru yang berkaitan dengan pekerjaannya dalam kurun waktu 1 tahun setelah perekrutan</p>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="fa fa-laptop"></i></div>
                <div class="px-4">
                    <h5>Negosiasi</h5>
                    <p>Dibantu proses negosiasi penghasilan dan fasilitas bekerja untuk profesional TI</p>
                </div>
            </div>
            <div class="feature py-4 col-md-6 d-flex">
                <div class="icon text-primary mr-3"><i class="far fa-money-bill-alt"></i></div>
                <div class="px-4">
                    <h5>Biaya Minim</h5>
                    <p>Biaya administrasi hanya 10% dari nilai penghasilan 1 tahun profesional TI yang direkrut</p>
                </div>
            </div>
            </div>
        </div>
        </div>
        <!-- / Features -->
    </div>
    <!-- / Our Services Section -->

    {% if instructors %}
        {% include 'website/partials/instructor.html' %}
    {% endif %}

    <!-- Statistik Peserta -->
    <div id="statisik" class="bg-primary text-light section py-4" style="border-bottom: 1px solid #EA413A;">
        <h3 class="section-title text-center text-white my-5">Statistik</h3>
        <div class="features py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <span class="statistik rounded-circle mx-auto mb-3">
                            <center>
                                <i class="fa fa-user mx-auto mb-3"></i>
                            </center>
                        </span>
                        <center><h1 class="text-white">{{ pengguna }}</h1></center><br>
                        <h4>
                        <center><strong><h4 class="text-white">Pengguna</h4></strong></center>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <span class="statistik rounded-circle mx-auto mb-3">
                            <center>
                                <i class="fa fa-user-check mx-auto mb-3"></i>
                            </center>
                        </span>
                        <center><h1 class="text-white">{{ peserta }}</h1></center><br>
                        <h4>
                        <center><strong><h4 class="text-white">Peserta</h4></strong></center>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <span class="statistik rounded-circle mx-auto mb-3">
                            <center>
                                <i class="fa fa-user-graduate mx-auto mb-3"></i>
                            </center>
                        </span>
                        <center><h1 class="text-white">{{ lulus }}</h1></center><br>
                        <h4>
                        <center><strong><h4 class="text-white">Lulusan</h4></strong></center>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <span class="statistik rounded-circle mx-auto mb-3">
                            <center>
                                <i class="fa fa-user-tie mx-auto mb-3"></i>
                            </center>
                        </span>
                        <center><h1 class="text-white">{{ tersalurkan }}</h1></center><br>
                        <h4>
                        <center><strong><h4 class="text-white">Disalurkan</h4></strong></center>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Features -->
    </div>
    <!-- / Statistik Peserta -->

    <!-- Logo Mitra -->
    {% if logo_partners %}
        {% include 'website/partials/partner.html' %}
    {% endif %}
    <!-- / Logo Mitra -->

    <!-- Logo Sponsor -->
    {% if logo_sponsors %}
        {% include 'website/partials/sponsor.html' %}
    {% endif %}
    <!-- / Logo Sponsor -->

    <!-- Subscribe Section -->
    <div id="hubungi-kami" class="subscribe section bg-dark py-4">
        <h3 class="section-title text-center text-white m-5">Hubungi Kami</h3>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="text-primary fa fa-phone fa-3x mb-3 sr-contact" data-sr-id="8" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                <p class="text-white">+62-251-8340354</p>
            </div>
            <div class="col-lg-2 text-center">
                <i class="text-primary fab fa-whatsapp fa-3x mb-3 sr-contact" data-sr-id="8" style="; visibility: visible;  -webkit-transform: scale(1); opacity: 1;transform: scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; "></i>
                <p class="text-white">+62-811111-8187</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a class="mx-3" href="#" target="_blank">
                    <i class="text-primary fas fa-envelope fa-3x mb-3 sr-contact" data-sr-id="9"></i>
                </a>
                <p>
                <a class="text-white" href="mailto:kontak@nolsatu.id">kontak@nolsatu.id</a>
                </p>
            </div>
        </div>
    </div>
    <!-- / Subscribe Section -->

</div>
{% endblock %}