<!--Instructor Section -->
{% load static %}
<div id="instruktur" class="section py-4">
    <h3 class="section-title text-center my-5">Instruktur</h3>
    <h6 class="text-center text-muted">Profil instruktur NolSatu</h6>
    <!-- Features -->
    <div class="features py-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="slider instructor-slider">
                        {% for instructor in instructors %}
                           <div class="card text-center mx-2 my-5" style="min-height:550px">
                            <img class="card-img-top rounded-circle img-fluid p-4" src="{{ instructor.user.profile.avatar.url }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ instructor.user.name }}</h5>
                                <p class="card-text">{{ instructor.user.profile.specialization }}</p>
                                <a href=""><img class="d-inline-block" width="24" height="24" src="{% static 'website/images/icon/linkedin.ico' %}" alt=""></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- / Features -->
</div>
<!-- /Instructor Section -->