{% load static %}
<div id="mitra" class="section py-4" style="display: none">
    <h3 class="section-title text-center my-5">Mitra</h3>
    <div class="py-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="slider mitra-slider">
                        {% for logo in logo_partners %}
                            <div class="p-4">
                                <a href="{{ logo.website }}" target="_blank"><img class="img-fluid" src="{{ logo.image.url }}" alt="{{ logo.name }}"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
