
{% extends 'base-adinusa.html' %}
{% load static %}

{% block content %}
<div class="padding_top">
    <!-- Page Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5">
                <div class="section_tittle text-center">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-4 mb-5">
                <div class="card" style="width: 100%;min-height: 400px;max-height: 450px;overflow: hidden;">
                    <a href="{% url 'website:page_category_detail' blog.raw_type blog.group.slug blog.slug %}">
                        <div style="width: 100%;height: 200px;overflow: hidden; background-color: #b3b3b3;">
                            {% if blog.image %}
                                <img class="card-img-top" src="{{ blog.image.url }}" alt="{{ blog.image.name}}">
                            {% endif %}
                        </div>
                        <div class="card-body text-dark">
                            {{ blog.group }}
                            <h4>{{ blog.title }}</h4>
                            {{ blog.short_content|safe|truncatechars:100 }}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
{% endblock %}
