{% load form_tags %}

<form method="GET" >
    <div class="form-group row">
        <div class="col-md-3">
            {{ form.name|addclass:"form-control" }}
            <span class="help_text">
                {{ form.name.errors }}
            </span>
        </div>
        <div class="col-md-3">
            {{ form.start_date|addclass:"form-control date" }}
            <span class="help_text">
                {{ form.start_date.errors }}
            </span>
        </div>
        <div class="col-md-3">
            {{ form.end_date|addclass:"form-control date" }}
            <span class="help_text">
                {{ form.end_date.errors }}
            </span>
        </div>
        <div class="col-md-3">
            {{ form.status|addclass:"form-control" }}
            <span class="help_text">
                {{ form.status.errors }}
            </span>
        </div>

    </div>
    <div class="form-group row">
        <div class="offset-md-9 col-md-3">
            <button type="submit" class="btn btn-primary btn-pill">Menyaring</button>
            <button name="download" value="true" class="btn btn-secondary btn-pill pull-right">Unduh</button>
        </div>
    </div>
</form>

{% block extra_js %}
<script>
    flatpickr(".date", {});
</script>
{% endblock%}