{% load form_tags %}

<form action="" method="post">
    {% csrf_token %}

    <div class="card full-width">        
        <div class="card-body">
            <h3 class="mt-3 mb-5 text-center">{{ title }}</h3>
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}                
            </div>
            {% endif %}
            {% for field in form %}
                <div class="form-group col-md-12">
                    <label class="pull-left">{{ field.label }}</label>

                    {{ field|addclass:"form-control" }}
                    {% if not page == "sign-up" and not page == 'reset-password' and not page == 'campus-registration' %}
                        <span class="help_text">
                            {{ field.help_text|safe }}
                        </span>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="form-group col-md-12">
                {% if page == "login" %}
                    <p class="help-block float-right">
                        <a href="{% url 'website:accounts:forgot_password' %}">Lupa kata sandi?</a>
                    </p>
                    <input type="submit" class="genric-btn info circle btn-block mt-4" value="Masuk">
                {% elif page == "sign-up" %}
                    <button type="submit" class="genric-btn info circle btn-block mt-4">Daftar</button>
                {% elif page == "campus-registration" %}
                    <input type="submit" class="genric-btn info circle btn-block" value="Selanjutnya" />
                {% else %}
                    <input type="submit" class="genric-btn info circle btn-block" value="Kirim" />
                {% endif %}

                {% if sign_with_btech %}
                    {% if page == "login" or page == "sign-up" %}
                        <hr>
                        <a href="{% url "keycloak_login" %}" class="genric-btn btn-btech circle btn-block">
                            Masuk dengan Akun Btech
                        </a>
                    {% endif %}
                {% endif %}

                {% if page == "login" %}                    
                    <p class="mt-5 text-center">
                        Tidak punya akun? <a href="{% url 'website:accounts:sign_up' %}">Daftar</a>
                    </p>                    
                {% elif page == "sign-up" %}
                    <p class="mt-5 text-center">
                        Punya Akun? <a href="{% url 'website:accounts:login' %}">Masuk</a>
                    </p>
                {% endif %}
            </div>            
        </div>
    </div>

</form>