{% load form_tags %}

<form action="" method="post">
    {% csrf_token %}

    <div class="card full-width">
        <div class="card-body">
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group col-md-12">
                    <label class="pull-left">{{ field.label }}</label>
                    {{ field|addclass:"form-control" }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="form-group col-md-12">
                <input type="submit" class="btn btn-primary btn-pill" value="Kirim" />
            </div>
        </div>
    </div>

</form>