{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">{{ title }}</h4>
        </div>
        <div class="card-body">
            <a href="{% url 'backoffice:sponsors:add' %}" class="btn btn-primary btn-pill">Tambah Sponsor</a>
            <div class="datatable content table-responsive table-full-width mt-3">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <th>Nama</th>
                        <th>Logo</th>
                        <th>Display Order</th>
                        <th>Is Visible</th>
                        <th>Website</th>
                        <th>Aksi</th>
                    </thead>
                    <tbody>
                        {% for sponsor in sponsors %}
                            <tr>
                                <td>{{ sponsor.name }}</td>
                                <td width="15%"><img src="{{ sponsor.image.url }}" class="img-fluid"  alt="{{ sponsor.name }}"/></td>
                                <td>{{ sponsor.display_order }}</td>
                                <td>{{ sponsor.is_visible }}</td>
                                <td><a href="{{ sponsor.website}}">{{ sponsor.website}}</a></td>
                                <td>
                                    <a class="btn btn-pill btn-secondary" href="{% url 'backoffice:sponsors:edit' sponsor.id %}">Edit</a>
                                    <button class="btn btn-primary btn-pill" data-toggle="modal" data-target="#confirmDeleteModal" data-delete-url="{% url 'backoffice:sponsors:delete' sponsor.id %}" data-name="{{sponsor.name}}" >Hapus</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer"></div>

    </div>
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ingin menghapus <strong id="confirmDeleteName"></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <a id="confirmDeleteButton" class="btn btn-success" >Ya</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#confirmDeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.data('delete-url');
            var name = button.data('name');

            var modal = $(this);
            modal.find('#confirmDeleteButton').attr("href", url);
            modal.find('#confirmDeleteName').html(name);
        })
    })
</script>
{% endblock %}