{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">{{ title }}</h4>
        </div>
        <div class="card-body">
            <form method="GET" >
                <div class="form-group row">
                    {% for field in form %}
                        <div class="form-group col-md-3">
                            {{ field|addclass:"form-control" }}
                            <span class="help_text">
                                {{ field.errors }}
                            </span>
                        </div>
                    {% endfor %}
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-pill">Menyaring</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">
            {% if formset %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table class="table table-striped">
                        <thead>
                            <th>{{ table_heading.column_user }}</th>
                            <th>{{ table_heading.column_status }}</th>
                        </thead>
                        {% for form in formset %}
                            {{ form.non_field_errors }}
                            <tr>
                            {% if not forloop.last %}
                                {% for field in form %}
                                    <td>
                                        {{ field.label}}
                                        {{ field|addclass:"form-control" }}
                                        {{ field.errors }}
                                    </td>
                                {% endfor %}
                            {% endif %}
                            </tr>
                        {% endfor %}

                    </table>
                    <button type="submit" class="btn btn-primary text-white">Simpan</button>
                </form>
            {% endif %}
        </div>
        <div class="card-footer"></div>

    </div>
</div>
{% endblock %}