{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">{{ title }}</h4>
        </div>
        <div class="card-body">
            <form method="GET" >
                <div class="form-group row">
                    {% for field in form %}
                        <div class="form-group col-md-3">
                            {{ field|addclass:"form-control" }}
                            <span class="help_text">
                                {{ field.errors }}
                            </span>
                        </div>
                    {% endfor %}
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-pill">Menyaring</button>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">
            {% if students %}
            <form action="" method="post" name="form-bulk" id="submitPeserta">
                {% csrf_token %}
                {{ bulk_form.non_field_errors }}
                <div class="form-group row">
                    <div class="form-group col-md-3">
                        {{ bulk_form.status|addclass:"form-control" }}
                        <span class="help_text">
                            {{ bulk_form.status.errors }}
                        </span>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary text-white" data-toggle="modal" data-target="#confirmModal" data-url="{% url 'backoffice:training_materials:bulk_material_status' %}">Simpan</a>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <th> <input type="checkbox" id="check_all"> </th>
                        <th>{{ table_heading.column_user }}</th>
                        <th>{{ table_heading.column_status }}</th>
                    </thead>
                    <tbody>
                        {% for student in students%}
                        <tr>
                            <td> <input type="checkbox" name="students" value="{{ student.id }}" class="checkbox" id="id_students_{{ forloop.counter }}"> </td>
                            <td id="student_{{ student.id }}">{{ student.username }} - {{ student.name }} - {{ student.email }}</td>
                            <td>{{ student.status|status_material_to_display }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            {% else %}
                <h3>Tidak ada data</h3>
            {% endif %}
        </div>
        <div class="card-footer"></div>

    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong id="status"></strong><br>
                <ul id="daftarPeserta"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                <button class="btn btn-success" id="btnSubmitPeserta" onclick="submitPeserta()">Ya</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('#confirmModal').on('show.bs.modal', function (event) {
        var peserta = $('input[name=students]:checked');
        if(peserta.length > 0){
            var button = $(event.relatedTarget);
            var url = button.data('url');
            var status = $("#id_status option:selected").text();
            var daftarPeserta = "";
            var student_id = 0;
            peserta.each(function(item){
                student_id = $(this).val();
                daftarPeserta = daftarPeserta+"<li>"+$("#student_"+student_id).text()+"</li>";
            });

            var modal = $(this);
            modal.find('#status').html("Ubah status peserta menjadi "+status+":");
            modal.find('#daftarPeserta').html(daftarPeserta);
            document.getElementById("btnSubmitPeserta").disabled = false;
        }else{
            var modal = $(this);
            modal.find('#status').html("Tidak ada peserta yang dipilih");
            document.getElementById("btnSubmitPeserta").disabled = true;
        }
    })
})

function submitPeserta(){
    document.getElementById("submitPeserta").submit();
}

//select all checkboxes
$("#check_all").change(function(){
    $(".checkbox").prop('checked', $(this).prop("checked"));
});

//".checkbox" change
$('.checkbox').change(function(){
    if(false == $(this).prop("checked")){
        $("#check_all").prop('checked', false);
    }
    if ($('.checkbox:checked').length == $('.checkbox').length ){
        $("#check_all").prop('checked', true);
    }
});
</script>
{% endblock %}