{% extends 'base-master.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
    <a class="sidebar-toggle text-light mr-3"><i class="fa fa-bars"></i></a>
    <img src="{% static 'website/images/logo/logo-polos-warna-30.png' %}" alt="nolsatu" class="mr-2" height="30px">
    <a class="navbar-brand" href="{% url 'website:index' %}"> NolSatu</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    <i class="fa fa-user"></i> {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'website:accounts:logout' %}">Keluar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <nav class="sidebar card mr-4">
        <ul class="list-unstyled">
            <li><a href="{% url 'backoffice:index' %}"><i class="fa fa-fw fa-home"></i> Dasbor </a></li>
            <li><a href="{% url 'backoffice:users:index' %}"><i class="fa fa-fw fa-users"></i> Data Pengguna </a></li>
            <li>
                <a href="#participants" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Peserta</a>
                <ul id="participants" class="list-unstyled collapse">
                    <li><a href="{% url 'backoffice:users:participants' %}"></i> Data Peserta </a></li>
                    <li><a href="{% url 'backoffice:training_materials:bulk_material_status' %}">Status Pelatihan</a></li>
                </ul>
            </li>
            <li><a href="{% url 'backoffice:users:batch_training' %}"><i class="fa fa-fw fa-certificate "></i> Angkatan </a></li>
            <li><a href="{% url 'backoffice:training_materials:index' %}"><i class="fa fa-fw fa-book "></i> Materi Pelatihan </a></li>
            <li>
                <a href="#graduted" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Lulusan</a>
                <ul id="graduted" class="list-unstyled collapse">
                    <li><a href="{% url 'backoffice:graduates:index' %}">Data Lulusan</a></li>
                    <li><a href="{% url 'backoffice:graduates:candidates' %}">Kandidat</a></li>
                    <li><a href="{% url 'backoffice:graduates:participants_repeat' %}">Peserta Mengulang</a></li>
                </ul>
            </li>
            <li><a href="{% url 'backoffice:instructors:index' %}"><i class="fa fa-fw fa-user "></i> Instruktur </a></li>
            <li><a href="{% url 'backoffice:surveys:index' %}"><i class="fa fa-fw fa-sticky-note "></i> Survey </a></li>
            <li>
                <a href="#campuses" data-toggle="collapse"><i class="fa fa-fw fa-university"></i> Kampus</a>
                <ul id="campuses" class="list-unstyled collapse">
                    <li><a href="{% url 'backoffice:campuses:index' %}"></i> Tambah Kampus </a></li>
                    <li><a href="{% url 'backoffice:campuses:users_selection' %}"> Daftar Pengguna</a></li>
                    <li><a href="{% url 'backoffice:campuses:participants' %}"> Daftar Peserta</a></li>
                </ul>
            </li>
            <li><a href="{% url 'backoffice:partners:index' %}"><i class="fa fa-fw fa-handshake "></i> Mitra </a></li>
            <li><a href="{% url 'backoffice:sponsors:index' %}"><i class="fa fa-fw fa-user-friends "></i> Sponsor </a></li>
            <li><hr></li>
            <li><a href="{% url 'website:accounts:logout' %}"><i class="fa fa-fw fa-sign-out-alt"></i> Keluar </a></li>
            <!-- <li>
                <a href="#submenu2" data-toggle="collapse"><i class="fa fa-fw fa-address-card"></i> Dropdown Link 2</a>
                <ul id="submenu2" class="list-unstyled collapse">
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                    <li><a href="#">Submenu Item</a></li>
                </ul>
            </li> -->

        </ul>
    </nav>

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %} role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span class="mt-3 mr-2" aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        {% block content-dashboard %}{% endblock %}
    </div>
</div>
{% endblock %}