{% extends 'backoffice/base-adminlte.html' %}
{% load static form_tags tags_students %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'website/css/select2.min.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="col-md-12 card">
        <div class="card-header">
            <h4 class="fa-pull-left">
                {{ title }}
            </h4>
        </div>    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <h5>{{ title_extra }}</h5>
                    </div>
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <span class="text-danger">{{ form.non_field_errors }}</span>
                            {% for field in form %}
                                <div class="form-group col-md-12">
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        {{ field }}
                                        <label>{{ field.label }}</label><br>
                                    {% elif  field.field.widget.input_type == 'file' %}
                                        <label>{{ field.label }}</label><br>
                                        {{ field }}<br>
                                    {% else %}
                                        <label>{{ field.label }}</label><br>
                                        {{ field|addclass:"form-control" }}
                                    {% endif %}
                                    <small class="text-info">{{ field.help_text|safe }}</small>
                                    <span class="text-danger">{{ field.errors }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary btn-pill"/>
                {% if custom_button_title %}
                    {{ custom_button_title }}
                {% else %}
                    Simpan
                {% endif %}
                </button>
            </div>
        </div>
    </form>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'website/js/select2.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').each(function () {
                var widget = $(this);
                if (!widget.data('isajax')) return;
                widget.select2({
                    ajax: {
                        url: widget.data('url'),
                        dataType: 'json',
                        processResults: function (data) {
                            return {
                                results: data.data
                            };
                        },
                        cache: true
                    },
                    placeholder: widget.data('placeholder'),
                    minimumInputLength: 1,
                });
            });
        });
    </script>
{% endblock %}