{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags tags_students %}
{% load static %}

{% block extra_css %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">
                {{ title }}
            </h4>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <h5>Daftar Angkatan</h5>
                    </div>
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <table class="table">
                                <tr>
                                    <td>Angkatan</td>
                                    <td>Link Group</td>
                                    <td>Tanggal Mulai</td>
                                    <td>Tanggal Akhir</td>
                                    <td>Aksi</td>
                                </tr>
                                {% for training in trainings %}
                                <tr>
                                    <td>{{ training.batch }}</td>
                                    <td>{{ training.link_group }}</td>
                                    <td>{{ training.start_date|default:'-' }}</td>
                                    <td>{{ training.end_date|default:'-' }}</td>
                                    <td><a href="{% url 'backoffice:users:edit_batch_training' training.id %}">edit</a></td>
                                </tr>
                                {% endfor %}
                            </table>
                            <hr>
                            <h5 class="mt-5">{{ title }}</h5>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    <div class="form-group col-md-12">
                                        <label class="pull-left">{{ field.label }}</label>
                                        {% if field.name == 'materials' %}
                                            {{ field|addclass:"form-control select2" }}
                                        {% else %}
                                            {{ field|addclass:"form-control" }}
                                        {% endif %}
                                        <small class="text-info">{{ field.help_text|safe }}</small>
                                        <span class="text-danger">{{ field.errors }}</span>
                                    </div>
                                {% endfor %}

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary btn-pill"/>Simpan</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'select2/select2.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}