{% extends 'backoffice/base.html' %}
{% load form_tags tags_students %}

{% block extra_css %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
{% endblock %}

{% block content-dashboard %}
    <div class="card">
        <div class="card-header">
            <h4 class="pull-left">
                {{ title }}
            </h4>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <h5>{{ title_extra }}</h5>
                    </div>
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">

                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                {{ form.non_field_errors }}
                                {% for field in form %}
                                    <div class="form-group col-md-12">
                                        <label class="pull-left">{{ field.label }}</label>

                                        {{ field|addclass:"form-control" }}
                                        <span class="help_text">
                                            {{ field.help_text|safe }}
                                        </span>
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}

                                <div class="form-group col-md-12">
                                    <button type="submit" class="btn btn-primary btn-pill"/>
                                    Simpan</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').each(function (index) {
                var widget = $(this);
                if (!widget.data('isajax')) return;
                widget.select2({
                    ajax: {
                        url: widget.data('url'),
                        dataType: 'json',
                        processResults: function (data, params) {
                            return {
                                results: data.data.map(function (it) {
                                    return {
                                        id: it.id,
                                        text: it.text
                                    }
                                })
                            };
                        },
                        cache: true
                    },
                    placeholder: 'Cari User',
                    minimumInputLength: 1,
                });
            });
        });
    </script>
{% endblock %}