{% extends 'backoffice/base.html' %}

{% block content-dashboard %}
<div class="col-md-12 card p-5">
    <h1 class="display-5 mb-4">{{ title }}</h1>

    <div class="row mb-5">
        <div class="col-xl-4 col-sm-6">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-success">
                    <div class="row">
                        <div class="col-md-6">                                                   
                            <div class="rotate mb-3">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase">Pendaftar</h6>
                        </div>
                        <div class="col-md-6">
                            <h1 class="display-4 float-right">{{ data.pendaftar }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6">
            <div class="card text-white bg-warning h-100">
                <div class="card-body bg-warning">
                    <div class="row">
                        <div class="col-md-6">                                                   
                            <div class="rotate mb-3">
                                <i class="fa fa-user-check fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase">Peserta</h6>
                        </div>
                        <div class="col-md-6">
                            <h1 class="display-4 float-right">{{ data.peserta }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-sm-6">
            <div class="card text-white bg-info h-100">
                <div class="card-body bg-info">
                    <div class="row">
                        <div class="col-md-7">      
                            <div class="rotate mb-3">
                                <i class="fa fa-user-graduate fa-3x"></i>
                            </div>
                            <h6 class="text-uppercase mb-0">Lulus</h6>
                        </div>
                        <div class="col-md-5">                            
                            <h1 class="display-4 float-right">{{ data.lulus }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>

</div>
<script>
    new Chart(
        document.getElementById("chartjs-0"),
        {
            "type":"line",
            "data":
            {
                "labels":
                [
                    {% for i in angkatan %}
                        "{{ i }}",    
                    {% endfor %}
                ],
                "datasets"  :
                [
                    {
                    "label":"Pendaftar",
                    "data": [
                                {% for i in jumlah_pendaftar %}
                                    "{{ i.num_students }}",    
                                {% endfor %}
                            ],
                    "fill":false,
                    "borderColor":"rgb(75, 192, 192)",
                    "lineTension":0.1
                    },
                    {
                    "label":"Peserta",
                    "data": [
                                {% for i in jumlah_peserta %}
                                    "{{ i.num_participants }}",    
                                {% endfor %}
                            ],
                    "fill":false,
                    "borderColor":"rgb(255,180,0)",
                    "lineTension":0.1
                    },
                    {
                    "label":"Lulus",
                    "data":[
                                {% for j in jumlah_lulus %}
                                    "{{ j.num_graduate }}",    
                                {% endfor %}
                            ],
                    "fill":false,
                    "borderColor":"rgb(234,65,58)",
                    "lineTension":0.1
                    },
                ]
            },
            "options":{}
        }
    );
</script>

{% endblock %}