{% extends 'backoffice/base-adminlte.html' %}

{% block content %}
<div class="col-md-12 card p-5">
    <div class="row mb-5">
        <div class="col-xl-3 col-sm-6">
            <div class="card bg-success text-white h-100">
                <div class="card-body bg-default">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4 float-right">{{ data.pendaftar }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rotate">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-uppercase text-right">Pendaftar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card bg-primary text-white h-100">
                <div class="card-body bg-default">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4 float-right">{{ data.pengguna }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rotate">
                                <i class="fa fa-user fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-uppercase text-right">Pengguna</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card bg-warning text-white h-100">
                <div class="card-body bg-default">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4 float-right">{{ data.peserta }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rotate">
                                <i class="fa fa-user-check fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-uppercase text-right">Peserta</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card bg-info text-white h-100">
                <div class="card-body bg-default">
                    <div class="row">
                        <div class="col-md-12 text-white">
                            <h1 class="display-4 float-right">{{ data.lulus }}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="rotate">
                                <i class="fa fa-user-graduate fa-2x"></i>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h6 class="text-uppercase text-right">Lulus</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <canvas id="bar-lulus" class="chartjs" width="undefined" height="undefined"></canvas>
    <canvas id="line-pendaftar" class="chartjs" width="undefined" height="undefined"></canvas>

</div>

{% endblock %}

{% block extra_js %}
<!-- charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
    var ctx = document.getElementById("bar-lulus").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                    {% for i in angkatan %}
                        "Batch {{ i.batch }}",
                    {% endfor %}
            ],
            datasets: [
            {
                label: 'Lulus',
                data: [
                    {% for j in jumlah_lulus %}
                        "{{ j.num_graduate }}",
                    {% endfor %}
                ],
                backgroundColor: [
                    {% for i in angkatan %}
                        'rgba(54, 162, 235, 0.5)',
                    {% endfor %}
                ],
                borderColor: [
                    {% for i in angkatan %}
                        'rgba(54, 162, 235, 1)',
                    {% endfor %}
                ],
                borderWidth: 1
            },
            {
                label: 'Tidak Lulus',
                data: [
                    {% for i in jumlah_ulang %}
                        "{{ i.num_repeat }}",
                    {% endfor %}
                ],
                backgroundColor: [
                    {% for i in angkatan %}
                        'rgba(255,99,132,0.5)',
                    {% endfor %}
                ],
                borderColor: [
                    {% for i in angkatan %}
                        'rgba(255,99,132,1)',
                    {% endfor %}
                ],
                borderWidth: 1
            }
            ]
        },
        options: {
            layout: {
                padding: {
                    bottom: 75
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

    new Chart(
        document.getElementById("line-pendaftar"),
        {
            "type":"line",
            "data":
            {
                "labels":
                [
                    {% for i in jumlah_pendaftar %}
                        "{{ i.month|date:'F Y' }}",
                    {% endfor %}
                ],
                "datasets"  :
                [
                    {
                    "label":"Pendaftar",
                    "data": [
                                {% for i in jumlah_pendaftar %}
                                    "{{ i.id__count }}",
                                {% endfor %}
                            ],
                    "fill":false,
                    "borderColor":"rgb(75, 192, 192)",
                    "lineTension":0.1
                    }
                ]
            },
            "options":{}
        }
    );

</script>
{% endblock %}
