{% extends 'base-adminlte.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'website/css/dropzone.css' %}">
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Edit Avatar</h3>
            </div>

            <div class="card-body">
                <form action="{% url 'website:accounts:edit_avatar' %}" id="my-awesome-dropzone" class="dropzone">
                    {% csrf_token %}
                </form>
            </div>

        </div>

    </div>
{% endblock %}

{% block extra_js %}

    <script src="{% static 'website/js/dropzone.js' %}"></script>
    <script type="text/javascript">
        Dropzone.options.myAwesomeDropzone = {
            paramName: "avatar",
            maxFilesize: 2, // MB
            maxFiles: 1,
            maxfilesexceeded: function (file) {
                this.removeAllFiles();
                this.addFile(file);
            }
        };
    </script>
{% endblock %}