{% load form_tags %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="form-group col-md-12">
            <label>{{ field.label }}</label><br>
            {{ field|addclass:"form-control" }}
            <span class="help_text">
                {{ field.help_text|safe }}
            </span>
            {{ field.errors }}
        </div>
    {% endfor %}

    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-danger btn-pill"/>Simpan</button>
    </div>

</form>