{% extends 'base-adminlte.html' %}

{% block content %}

<div class="col-lg-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">Read Mail</h3>
            <button type="button" class="btn btn-default float-right" data-toggle="modal" data-target="#confirmDeleteModal"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="mailbox-read-info">
            <h5>{{ inbox.subject }}
                <span class="mailbox-read-time float-right">{{ inbox.sent_date|date:"d M Y H:i "}}</span></h6>
            </h5>
            <!-- /.mailbox-read-info -->
            <div class="mailbox-controls with-border text-center">
            <span><br></span>
            </div>
            <!-- /.mailbox-controls -->
            <div class="mailbox-read-message">
            <p>{{ inbox.content|safe }}</p>
            </div>
            <!-- /.mailbox-read-message -->
        </div>
        <!-- /.card-body -->
        </div>
        <div class="card-footer">
            <a href="{% url 'website:accounts:inbox' %}" type="button" class="btn btn-default"><i class="fas fa-arrow-left"></i> Kembali</a>
        </div>
    </div>
    <!-- /.card -->    
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ingin menghapus?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <form action="{% url 'website:accounts:inbox' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="checkMark" value="{{inbox.id}}">
                    <input type="submit" class="btn btn-success" value="Ya">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
