{% extends 'base-adminlte.html' %}

{% block content %}

<div class="col-lg-12">
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">{{title}}</h3>
            <!--
            <div class="card-tools">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search Mail">
                <div class="input-group-append">
                <div class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </div>
                </div>
            </div>
            </div>
             /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">        
            <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
            </button>
            <div class="btn-group">
                <button type="button" onclick="unReadMark()" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Tandai belum dibaca"><i class="far fa-envelope"></i></button>
                <button type="button" onclick="readMark()" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Tandai sudah dibaca"><i class="far fa-envelope-open"></i></button>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" data-toggle="tooltip" data-placement="bottom" title="Hapus pesan"><i class="far fa-trash-alt"></i></button>
            </div>
            <div class="float-right">
                {{ detail_page.start }}-{{ detail_page.end }}/{{ detail_page.total }}
                <div class="btn-group">
                {% if inboxs.has_previous %}
                <a href="?page={{ detail_page.prev }}" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm" disabled><i class="fas fa-chevron-left"></i></button>
                {% endif %}

                {% if inboxs.has_next %}
                <a href="?page={{ detail_page.next }}" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm" disabled><i class="fas fa-chevron-right"></i></button>
                {% endif %}                    
                </div>
            </div>
            <!-- /.float-right -->
            </div>
            <div class="table-responsive mailbox-messages">
            <table class="table table-hover">
                <tbody>
                {% if not inboxs %}
                    <tr>
                        <td>
                        <h6><center>Tidak ada pesan</center></h6>
                        </td>
                    </tr>
                {% endif %}
                <form action="" method="post" id="actionMark">
                {% csrf_token %}
                <input type="hidden" name="action" id="action">
                <input type="hidden" name="page" value="{{ detail_page.page }}">
                {% for inbox in inboxs %}
                {% if inbox.is_read %}
                <tr>
                {% else %}
                <tr style="background-color: rgba(0, 0, 0, 0.05)">
                {% endif %}
                <td>
                    <div class="icheck-primary">
                    <input type="checkbox" name="checkMark" value="{{inbox.id}}" id="check{{ inbox.id }}" class="checkMark">
                    <label for="check{{ inbox.id }}"></label>
                    </div>
                </td>
                <td class="mailbox-name"><a href="{% url 'website:accounts:inbox_detail' inbox.id %}">{{ site_name }}</a></td>
                <td class="mailbox-subject"><span class="{{inbox.is_read|yesno:'font-weight-normal, font-weight-bold'}}">{{ inbox.subject|truncatechars:20 }}</span><br> {{ inbox.content|safe|truncatechars:50 }}
                </td>
                <td class="mailbox-attachment"></td>
                <td class="mailbox-date">{{ inbox.sent_date|date:"d M y" }}</td>
                </tr>
                {% endfor %}
                </form>
                </tbody>
            </table>
            <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer p-0">
            <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
            </button>
            <div class="btn-group">
                <button type="button" onclick="unReadMark()" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Tandai belum dibaca"><i class="far fa-envelope"></i></button>
                <button type="button" onclick="readMark()" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Tandai sudah dibaca"><i class="far fa-envelope-open"></i></button>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#confirmDeleteModal" data-toggle="tooltip" data-placement="bottom" title="Hapus pesan"><i class="far fa-trash-alt"></i></button>
            </div>
            <div class="float-right">
                {{ detail_page.start }}-{{ detail_page.end }}/{{ detail_page.total }}
                <div class="btn-group">
                {% if inboxs.has_previous %}
                <a href="?page={{ detail_page.prev }}" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm" disabled><i class="fas fa-chevron-left"></i></button>
                {% endif %}

                {% if inboxs.has_next %}
                <a href="?page={{ detail_page.next }}" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></a>
                {% else %}
                <button type="button" class="btn btn-default btn-sm" disabled><i class="fas fa-chevron-right"></i></button>
                {% endif %}                    
                </div>
            </div>
            <!-- /.float-right -->
            </div>
        </div>
    </div>
    <!-- /.card -->    
</div>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Yakin ingin menghapus?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                <button onclick="deleteMark()" class="btn btn-success" >Ya</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(function () {
        //Enable check and uncheck all functionality
        $('.checkbox-toggle').click(function () {
        var clicks = $(this).data('clicks')
        if (clicks) {
            //Uncheck all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
            $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
        } else {
            //Check all checkboxes
            $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
            $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
        }
        $(this).data('clicks', !clicks)
        })
    })

    function unReadMark(){
        $('#action').val("unread");
        $('#actionMark').attr('action', "{% url 'website:accounts:inbox' %}").submit();
    }
    function readMark(){
        $('#action').val("read");
        $('#actionMark').attr('action', "{% url 'website:accounts:inbox' %}").submit();
    }
    function deleteMark(){
        $('#action').val("delete");
        $('#actionMark').attr('action', "{% url 'website:accounts:inbox' %}").submit();
    }
</script>
{% endblock%}