{% extends 'base-adminlte.html' %}
{% load form_tags %}

{% block content %}

<div class="col-lg-12">
    {% if banner_info.is_show %}
        <div class="alert alert-{{ banner_info.color_style }} alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-info"></i> {{ banner_info.title }}</h5>
            {{ banner_info.content|safe }}
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header border-transparent">
            <h3 class="card-title"></h3>
        </div>

        <div class="card-body">
            <h3>Halo {{ student.user.name }},</h3>
            {% if student.status|status_display == 'seleksi' %}
                <p>
                    Anda telah terdaftar dan aktif sebagai talenta/profesional di {{site_name}}.
                    Kami sedang mempelajari profil keren anda dan sesegera mungkin kami akan kabari anda saat kursi kelas
                    periode terdekat tersedia untuk anda. Jika profil anda belum lengkap, silahkan lengkapi profil anda
                    sehingga membantu kami untuk dapat lebih mengenal anda.
                </p>
                <a href="{% url 'website:accounts:profile' %}" class="btn btn-danger">Lihat profil Anda</a>
            {% elif student.status|status_display == 'pre-test' %}
                <p>
                    Selamat kamu terpilih untuk mengikuti Pre-test, semoga kamu berhasil dan menjadi peserta {{ site_name }}.
                </p>
                <a href="{% url 'website:accounts:profile' %}" class="btn btn-danger">Lihat profil Anda</a>
            {% elif student.status|status_display == 'peserta' %}
                <p>
                    Selamat anda terpilih menjadi peserta pelatihan {{site_name}}.<br>
                    Berikut beberapa informasi untuk anda:<br>
                    <ul>
                        <li>Kelas akan dilaksanakan setiap hari Senin & Kamis atau Selasa & Jumat atau Rabu & Sabtu pukul 19.00 s.d. 22.00 WIB</li>
                        <li>Nomor ponsel anda akan dimasukkan ke grup Telegram bersama dengan peserta sekelas lain dan instruktur kelas.</a></li>
                        <li>Performa anda di kelas dan di lab akan dinilai oleh instruktur dan menjadi acuan keputusan anda lulus atau mengulang pada materi pelatihan yang diikuti.</a></li>
                        <li>Jika anda lulus pada seluruh materi pelatihan, anda akan direkomendasikan ke perusahaan yang membutuhkan SDM sesuai profil anda.</a></li>
                    </ul>

                    Selamat mengikuti pelatihan {{site_name}}.
                </p>
                <a href="{% url 'website:accounts:trainings:materials' %}" class="btn btn-danger">Lihat daftar pelatihan</a>
            {% elif student.status|status_display == 'lulus' %}
                <p>
                    Selamat, Anda telah berhasil menyelesaikan persyaratan yang diperlukan untuk mendapatkan Sertifikasi kelulusan {{site_name}}!.<br>
                    <embed class="pt-5 pb-5" src="{{ graduate.certificate_file.url }}" type="application/pdf" width="100%" height="600px" />
                    Harap luangkan beberapa menit untuk menyelesaikan survei tentang pengalaman Anda selama menjadi peserta {{site_name}} dibawah ini.
                </p>
                <a href="https://goo.gl/forms/uJBb2rGZTJmjMFYq1" target="blank_" class="btn btn-danger">Form Feedback</a>
            {% endif %}
        </div>

    </div>

</div>
{% endblock %}