{% extends 'dashboard/base.html' %}

{% block content-dashboard %}
<div class="col-md-12 card p-5">
    <h1 class="display-5 mb-4">Terima Kasih</h1>

    <p>
        Kamu telah mendaftarkan menjadi calon peserta NolSatu Akademi Gelombang {{ training.batch }}.
        Setelah ini kami akan memeriksa profil kamu dan akan memberikan pemberitahuan jika kamu lolos seleksi berkas.
    </p>
    <a href="{% url 'website:accounts:profile' %}" class="btn btn-primary">Lihat profil Anda</a>

</div>
{% endblock %}