{% extends 'base-adminlte.html' %}
{% load form_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'website/css/dropzone.css' %}">
    <style>
    .dropzone .dz-preview:hover .dz-image img{
        filter:blur(0px)
    }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12 card">
        {% if banner_info.is_show %}
            <div class="alert alert-{{ banner_info.color_style }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-info"></i> {{ banner_info.title }}</h5>
                {{ banner_info.content|safe }}
            </div>
        {% endif %}

        <div class="card-header">
            <div class="fa-pull-right">
                <a class="btn btn-primary text-white" href="{% url 'website:accounts:edit_profile' %}">Ubah</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class=" col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <div id="pane-pribadi" class="tab-pane active in">
                                <div class="row">
                                    <div class="col-md-2">
                                            <form action="{% url 'website:accounts:edit_avatar' %}" id="my-awesome-dropzone" class="dropzone">
                                            {% csrf_token %}
                                            <center>
                                                <img id="old-avatar" class="profile-user-img img-fluid img-rounded" src="{{ user.profile.get_avatar }}" alt="User profile picture">
                                            </center>
                                            <div class="dz-message" data-dz-message><span>Drop image here to change avatar</span></div>
                                        </form>
                                        <center>
                                            <button id="cancel-avatar" class="mt-1 btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" title="Batal">&nbsp;<i class="fas fa-times"></i>&nbsp;</button>
                                            <button id="save-avatar" class="mt-1 btn btn-sm btn-success" data-toggle="tooltip" data-placement="bottom" title="Simpan"><i class="fas fa-check"></i></button>
                                        </center>
                                    </div>
                                    <div class="col-md-10">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="font-weight-bold">Nama Depan</td>
                                                    <td>{{ user.first_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">Nama Belakang</td>
                                                    <td>{{ user.last_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">Username</td>
                                                    <td>{{ user.username }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">Email</td>
                                                    <td>{{ user.email }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold">Nomor Ponsel</td>
                                                    <td>
                                                        {{ user.phone }}
                                                    </td>
                                                </tr>
                                                {% comment %} <tr>
                                                    <td class="font-weight-bold">Status</td>
                                                    <td>
                                                        {{ student.status|status_display:"True" }}
                                                    </td>
                                                </tr> {% endcomment %}
                                                {% if student.campus %}
                                                <tr>
                                                    <td class="font-weight-bold">Kampus</td>
                                                    <td>
                                                        {{ student.campus.name }}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    {% if graduate %}
                                                        <td class="font-weight-bold">Sertifikat</td>
                                                        <td><a href="{% url 'website:accounts:certificates' %}">lihat disini</a></td>
                                                    {% endif %}
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="table-responsive box box-info">
                                    <table class="table table-user-information">
                                        <colgroup>
                                            <col class="col-xs-1">
                                            <col class="col-xs-6">
                                        </colgroup>
                                        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" value="64130" type="hidden">                                        
                                        <tbody>
                                        <tr class="thead-dark">
                                            <th colspan="2">Data Pendukung</th>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">LinkedIn</td>
                                            <td><a href="{{ user.profile.linkedin }}" target="_blank">{{ user.profile.linkedin }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Git Repo</td>
                                            <td><a href="{{ user.profile.git_repo }}" target="_blank">{{ user.profile.git_repo }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Blog / Web</td>
                                            <td><a href="{{ user.profile.blog }}" target="_blank">{{ user.profile.blog }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Youtube</td>
                                            <td><a href="{{ user.profile.youtube }}" target="_blank">{{ user.profile.youtube }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Facebook</td>
                                            <td><a href="{{ user.profile.facebook }}" target="_blank">{{ user.profile.facebook }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Instagram</td>
                                            <td><a href="https://instagram.com/{{ user.profile.instagram }}" target="_blank">{{ user.profile.instagram }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Twitter</td>
                                            <td><a href="https://twitter.com/{{ user.profile.twitter }}" target="_blank">{{ user.profile.twitter }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Telegram ID</td>
                                            <td><a href="https://web.telegram.org/#/im?p={{ user.profile.telegram_id }}" target="_blank">{{ user.profile.telegram_id }}</a></td>
                                        </tr>
                                        {% if user.profile.curriculum_vitae %}
                                            <tr>
                                                <td class="font-weight-bold">Curriculum Vitae</td>
                                                <td><a href="{{ user.profile.curriculum_vitae.url }}" target="_blank">Download</a></td>
                                            </tr>
                                        {% endif %}
                                    </tbody></table>
                                </div>

                                {% comment %} {% if survey %}
                                <div class="table-responsive box box-info">
                                    <table class="table table-bordered">

                                        <tr class="thead-dark">
                                            <th colspan="2">Data Pekerjaan
                                                <div class="fa-pull-right">
                                                    <a class="btn btn-info text-white" href="{% url 'website:accounts:edit_survey' %}">Ubah</a>
                                                </div>
                                            </th>

                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Status pekerjaan saat ini</td>
                                            <td>
                                                {% if survey.working_status == 99 %}
                                                    {{ survey.working_status_other}}
                                                {% else %}
                                                    {{ survey.get_working_status_display }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Apabila anda telah lulus dari kelas nolsatu, apakah bersedia untuk disalurkan</td>
                                            <td>
                                                {% if survey.graduate_channeled %}
                                                    Ya
                                                {% else %}
                                                    Tidak
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Apabila bersedia untuk disalurkan, kapan waktu yang diinginkan</td>
                                            <td>
                                                {% if survey.graduate_channeled_when == 99 %}
                                                    {{ survey.graduate_channeled_when_other}}
                                                {% else %}
                                                    {{ survey.get_graduate_channeled_when_display }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Apabila Anda bersedia disalurkan, dimana Anda bersedia ditempatkan</td>
                                            <td>
                                                {{ survey.get_channeled_location }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                {% endif %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'website/js/dropzone.js' %}"></script>
<script>
    $('#cancel-avatar').hide();
    $('#save-avatar').hide();
    Dropzone.options.myAwesomeDropzone = {
        paramName: "avatar",
        maxFilesize: 2, // MB
        maxFiles: 1,
        acceptedFiles: 'image/*',
        autoProcessQueue: false,
        maxfilesexceeded: function (file) {
            this.removeAllFiles();
            this.addFile(file);
        },
        init: function() {
            this.on("addedfile", function(file) {                 
                $('#old-avatar').hide();
                $('.dz-details').hide();
                $('.dz-progress').hide();
                $('#cancel-avatar').show();
                $('#save-avatar').show();
                if(this.files.length > 1){
                    this.removeAllFiles();
                    this.addFile(file);
                }
            });

            this.on("success", function(file) {                  
                location.reload(); 
            });
        }
    };

    $('#cancel-avatar').click(function() {
        $('#old-avatar').show();
        $('#cancel-avatar').hide();
        $('#save-avatar').hide();
        Dropzone.forElement("#my-awesome-dropzone").removeAllFiles(true);    
    });

    $('#save-avatar').click(function() {
        $('.dz-progress').show();
        Dropzone.forElement("#my-awesome-dropzone").processQueue();
    });
</script>
{% endblock %}