{% extends 'backoffice/base-adminlte.html' %}
{% load form_tags %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="fa-pull-left">
                Profil
            </h4>
            <div class="fa-pull-right">

                {% if student.status|status_display == 'pre-test' or student.status|status_display == 'seleksi'%}
                    <a class="btn btn-danger text-white" data-toggle="modal" data-target="#confirmPreTest">Ikuti Pre-Test</a>
                    <a class="btn btn-success text-white" data-toggle="modal" data-target="#changeToParticipantModal">Jadikan Peserta</a>
                {% elif student.status|status_display == 'peserta' %}
                    <a class="btn btn-secondary text-white" href="{% url 'backoffice:users:status_training' user.id %}">Status Pelatihan</a>
                {% endif %}
                {% comment %}
                    <a class="btn btn-primary text-white" href="{% url 'website:accounts:edit_profile' %}">Ubah</a>
                {% endcomment %}
            </div>
        </div>
        <div class="card-body">
            <div class="row-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-12 ">
                        <div class="tab-content">
                            <div id="pane-pribadi" class="tab-pane active in">
                                <div class="table-responsive box box-info">
                                    <table class="table table-user-information">
                                        <colgroup>
                                            <col class="col-xs-1">
                                            <col class="col-xs-6">
                                        </colgroup>

                                        <input data-val="true" data-val-number="The field ID must be a number." data-val-required="The ID field is required." id="ID" name="ID" value="64130" type="hidden">

                                        <tbody><tr>
                                            <td class="font-weight-bold">Nama</td>
                                            <td>{{ user.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Username</td>
                                            <td>{{ user.username }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Email</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Telepon</td>
                                            <td>
                                                {{ user.phone }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Status</td>
                                            <td>
                                                {{ student.status|status_display:"True" }}
                                                <small><a href="{% url 'backoffice:users:edit_status' student.id %}"> <i class="fas fa-edit"></i></a></small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Angkatan</td>
                                            <td>
                                                {{ student.training.batch }}
                                                <small><a href="{% url 'backoffice:users:edit_student_batch' student.id %}"> <i class="fas fa-edit"></i></a></small>
                                            </td>
                                        </tr>
                                        {% if student.campus %}
                                        <tr>
                                            <td class="font-weight-bold">Kampus</td>
                                            <td>
                                                {{ student.campus.name }}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <td colspan="2"></td>
                                        </tr>
                                        <tr class="thead-dark">
                                            <th colspan="2">Data Pendukung</th>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">LinkedIn</td>
                                            <td><a href="{{ user.profile.linkedin }}" target="_blank">{{ user.profile.linkedin }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Git Repo</td>
                                            <td><a href="{{ user.profile.git_repo }}" target="_blank">{{ user.profile.git_repo }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Blog / Web</td>
                                            <td><a href="{{ user.profile.blog }}" target="_blank">{{ user.profile.blog }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Youtube</td>
                                            <td><a href="{{ user.profile.youtube }}" target="_blank">{{ user.profile.youtube }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Facebook</td>
                                            <td><a href="{{ user.profile.facebook }}" target="_blank">{{ user.profile.facebook }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Instagram</td>
                                            <td><a href="https://instagram.com/{{ user.profile.instagram }}" target="_blank">{{ user.profile.instagram }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Twitter</td>
                                            <td><a href="https://twitter.com/{{ user.profile.twitter }}" target="_blank">{{ user.profile.twitter }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="font-weight-bold">Telegram ID</td>
                                            <td><a href="https://web.telegram.org/#/im?p={{ user.profile.telegram_id }}" target="_blank">{{ user.profile.telegram_id }}</a></td>
                                        </tr>
                                        {% if user.profile.curriculum_vitae %}
                                            <tr>
                                                <td class="font-weight-bold">Curriculum Vitae</td>
                                                <td><a href="{{ user.profile.curriculum_vitae.url }}" target="_blank">Download</a></td>
                                            </tr>
                                        {% endif %}
                                    </tbody></table>

                                    {% if survey %}
                                    <div class="table-responsive box box-info">
                                        <table class="table table-bordered">

                                            <tr class="thead-dark">
                                                <th colspan="2">Data Pekerjaan</th>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Status pekerjaan saat ini</td>
                                                <td>
                                                    {% if survey.working_status == 99 %}
                                                        {{ survey.working_status_other}}
                                                    {% else %}
                                                        {{ survey.get_working_status_display }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila anda telah lulus dari kelas nolsatu, apakah bersedia untuk disalurkan</td>
                                                <td>
                                                    {% if survey.graduate_channeled %}
                                                        Ya
                                                    {% else %}
                                                        Tidak
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila bersedia untuk disalurkan, kapan waktu yang diinginkan</td>
                                                <td>
                                                    {% if survey.graduate_channeled_when == 99 %}
                                                        {{ survey.graduate_channeled_when_other}}
                                                    {% else %}
                                                        {{ survey.get_graduate_channeled_when_display }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold">Apabila Anda bersedia disalurkan, dimana Anda bersedia ditempatkan</td>
                                                <td>
                                                    {{ survey.get_channeled_location }}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer"></div>
    </div>
</div>

{% if student.status|status_display == 'seleksi' or student.status|status_display == 'pre-test' %}
    {% url 'backoffice:users:change_to_participant' user.id as form_action %}
    {% include 'backoffice/common/simple-form-modal.html' with id="changeToParticipantModal" title="Jadikan Peserta" form=to_participant_form action=form_action %}

    {% url 'backoffice:users:change_to_pre_test' user.id as url_action %}
    {% include 'backoffice/common/simple-modal.html' with id="confirmPreTest" action=url_action title="Ikuti Pre-Test" content="Yakin pengguna ini untuk mengikuti Pre-Test" %}

{% endif %}
{% endblock %}