{% extends 'backoffice/base.html' %}
{% load form_tags %}

{% block content-dashboard %}
<div class="card">
    <div class="card-header">
        <h4 class="pull-left">{{ title }}</h4>
    </div>
    <div class="card-body">
        {% include 'forms/filter.html' %}
    </div>
    <div class="card-body">
        <div class="datatable content table-responsive table-full-width">
            <table id="datatable" class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Email</th>
                    <th>No. Ponsel</th>
                    <th>Aksi</th>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user|get_status_student|status_display:'True' }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone|default_if_none:"-" }}</td>
                            <td>
                                <a href="{% url 'backoffice:users:details' user.id %}">Detail</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="card-footer"></div>

</div>
{% endblock %}